<ion-header>
  <ion-navbar>
    <ion-title>
      Schedulie
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="padding  login-form text-center">
  <ion-img class="login-form-logo" width="300" height="200" src="assets/imgs/logo.jpg"></ion-img>
  <h1>Welcome to home page</h1>
</ion-content>