<ion-content class="padding  main-form text-center">
  <ion-img class="main-form-logo" width="300" height="200" src="assets/imgs/logo.jpg"></ion-img>
 
    <form class="list green inputs" >
      <ion-list>
      
        <button class="button button-block button-calm btn-bottom" ng-click="login()">Login</button>
     
      </ion-list> 
    </form>
  </ion-content>
