page-mainp {

} 
.main-form { 
    float:center;
    background-color:rgb(41, 41, 41); 
    color: white;
    text-align: center; 
    min-height: 50%;
    font-family: Lato;
    font-size: 14px
} 
.green {
   // background-color: #36C93A;
    color:white;
} 
.main-form-logo {
    padding-top: 70px;
    float:center;   
    background-color:rgb(41, 41, 41);
}
button{
    color: white;
    height: 50px; 
    background-color: #36C93A; 
    font-size: 16px
}
.btn-bottom {
    position: fixed;
    bottom: -4px; 
} 
 .list-md .item-input:last-child {
    border-bottom: none;
} 
 
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:rgb(41, 41, 41);
    background-image: none;
    color: white;
} 