<ion-content class="padding green-back text-center">

  <div class="signup-form">
    <ion-img class="signup-form-logo" width="300" height="200" src="assets/imgs/logo.jpg"></ion-img>
  </div>
  <form class="list green inputs ">
    <ion-list>
      <label class="item item-input green">

        <input class="green" type="email" placeholder="USERNAME" autocomplete="off">
      </label>
      <label class="item item-input">

        <input class="green" type="password" placeholder="PASSWORD" autocomplete="off">
      </label>
      <label class="item item-input">
        <button class="button button-stable button-block btn-rounded" ng-click="loginfb()">LOGIN WITH FACEBOOK</button>
      </label>
      <br>
      <label class="item item-input">
        <a href-inappbrowser="/signup" class=" green">SIGNUP</a>
      </label>
    </ion-list>
  </form>
</ion-content>