page-signup {
   // background-color: #36C93A;
}
 
.signup-form { 
    float:center;
    background-color:rgb(41, 41, 41);
    color: white;
    text-align: center; 
    min-height: 50%;
    font-family: Lato;
    font-size: 14px
} 
.signup-form-logo { 
    padding-top: 70px;
    float:center;  
    background-color:rgb(41, 41, 41);
}
.green {
    background-color: #36C93A;
    color:white;
} 


button{
    color: white;
    height: 60px;
    width: 50px;
    background-color: #36C93A;
}
.btn-bottom {
    position: fixed;
    bottom: -4px; 
}
.inputs {
    padding-top: 40px; 
}
 
 input {
     height: 40px;
     margin-top: 12px;
     margin-bottom: 8px;
     border:none;
     border-bottom: 1px solid white;
     width: 300px;
     opacity: .8;
     background-color: #36C93A;
     color: white;
  
    }
    ::placeholder {
        color: white;
        opacity: 1; /* Firefox */
    }
     
 .list-md .item-input:last-child {
    border-bottom: none;
} 
.btn-rounded {
    border-radius: 30px;
    width: 250px;
    float: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 8px;
    border-color: 1px solid white;
    border: 1px solid white;
    height: 50px; 
} 
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color:#36C93A;
    background-image: none;
    color: white;
}
.link {
    margin-top: 25px; 
}